.icon {
    width: 28px;

    &.small {
        width: 24px;
    }

    &.big {
        width: 32px;
    }
}

@media (min-width: 750px) {
    .icon {
        width: 32px;
    
        &.small {
            width: 28px;
        }
    
        &.big {
            width: 32px;
        }
    }
}