.icon {
    width: 28px;

    &.small {
        width: 24px;
    }

    &.big {
        width: 32px;
    }
}

// Tablet
@media (min-width: 750px) {
    .icon {
        width: 32px;
    
        &.small {
            width: 28px;
        }
    
        &.big {
            width: 48px;
        }
    }
}

// Desktop
@media (min-width: 1000px) {
    .icon {
        width: 24px;
    
        &.small {
            width: 28px;
        }
    
        &.big {
            width: 48px;
        }
    }
}